.item{
	display: flex;
	padding: 10px;
	border: 1px solid black;
	margin-bottom: 10px;
}

.item .info{
	width: 65%;
	margin-left:10px ;
	margin-right: 10px;
}

.item .info p:last-child{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.item .time{
	display: flex;
	flex-direction: column;
	align-items: center;
}
